@model Marketing.Domain.Entidades.Contato

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Editar Contatos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <form class="form-horizontal" method="post">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        @Html.LabelFor(model => model.Email , htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.DataCadastro , htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                    </div>
                </div>
                <div class="form-group row align-items-center">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        @Html.LabelFor(model => model.OrigemCadastro, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.OrigemCadastro, Html.GetEnumSelectList<OrigemContato>(), "", new { htmlAttributes = new { @class = "form-control dropdown" } })
                        @* <select class="form-control dropdown" asp-for="OrigemCadastro" asp-items="Html.GetEnumSelectList<OrigemContato>()" ></select>     *@
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        @Html.LabelFor(model => model.AceitaMensagem , htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.AceitaMensagem, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                @Html.HiddenFor(model => model.DataRecusa)
                @Html.HiddenFor(model => model.RecusaMensagem)
                @Html.HiddenFor(model => model.Token)

                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-xs btn-primary" />
                </div>
            </form>
        </div>
        <div>
            <a asp-action="Index">Retornar</a>
        </div>
    </div>
</div>