@model Marketing.Domain.PagedResponse.PagedResponse<List<Marketing.Domain.Entidades.Contato>>

@{
    ViewData["Title"] = "View";
}

 <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contatos</h6>
    </div>
    <div class="card-body">
        <div class="container-fluid mb-3">
            <div class = "row align-items-center">
                <div class="col-2">
                    <button class="btn btn-sm btn-primary" asp-action="Create">Novo Contato</button>
                </div>
                <div class="col-4 offset-6">
                    <h6 class="">Contatos cadastrados: @Model.TotalRecords</h6>
                </div>
            </div>
        </div>
        <div class="table-responsive p-6">
            <table class="table table-sm table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Telefone</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Aceita Mensagem</th>
                        <th>Origem Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int linha = 1;}
                    @foreach (var item in Model.Dados) {
                        <tr class="@(linha % 2 == 0 ? "" : "")">
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @if (item.AceitaMensagem == true) {
                                    @("Sim")
                                } else {
                                    @("Não")
                                }
                            </td>
                              <td>
                                 @Html.DisplayFor(modelItem => item.OrigemCadastro)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Telefone" class="btn btn-danger btn-sm">Alterar</a>
                            </td>
                        </tr>
                        linha = linha + 1;
                    }
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <div class="col col-12">
                <input class="btn btn-sm btn-primary" type="button" value="<<" @(Model.PageNumber == 1 ? "disabled" : "") onclick="location.href='@Url.Action("Index", "Contato", new { pageNumber = 1 })'" />|
                <input class="btn btn-sm btn-primary" type="button" value="<" @(Model.PageNumber == 1 ? "disabled" : "") onclick="location.href='@Url.Action("Index", "Contato", new { pageNumber = Model.PageNumber - 1 })'" />|
                <input class="btn btn-sm btn-primary" type="button" value=">" @(Model.PageNumber == Model.TotalPages ? "disabled" : "") onclick="location.href='@Url.Action("Index", "Contato", new { pageNumber = Model.PageNumber + 1 })'" />|
                <input class="btn btn-sm btn-primary" type="button" value=">>" @(Model.PageNumber == Model.TotalPages ? "disabled" : "") onclick="location.href='@Url.Action("Index", "Contato", new { pageNumber = Model.TotalPages })'" />|
            </div>
            <div class="col col-12">
                <h6>´Página: @Model.PageNumber de @Model.TotalPages" </h6>
            </div>
        </div>
    </div>
</div>




