@model Marketing.Domain.PagedResponse.PagedResponse<List<Marketing.Domain.Entidades.Estabelecimento>>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Estabelecimentos</h6>
    </div>
    <div class="card-body">
        <div class="container-fluid mb-3">
            <div class = "row align-items-center">
                <div class="col-3">
                    <button class="btn btn-sm btn-primary" asp-action="Create">Novo Estabelecimento</button>
                </div>
                <div class="col-5">
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-action="IndexP" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Filtrar" name="filtro"
                                aria-label="Filtro" aria-describedby="basic-addon2" value=@(@ViewData["FiltroAtual"] ?? "")>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button> 
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <h6 class="">Estabelecimentos cadastrados: @Model.TotalRecords</h6>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Cnpj</th>
                        <th>Razão Social</th>
                        <th>Rede</th>
                        <th>Cidade</th>
                        <th>Uf</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int linha = 1;}
                    @foreach (var item in Model.Dados) {
                        <tr class="@(linha % 2 == 0 ? "" : "")">
                            <td>
                                @Html.DisplayFor(modelItem => item.Cnpj)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RazaoSocial)
                            </td>
                            <td>
                                @if (item.Rede != null) {
                                    @Html.DisplayFor(modelItem => item.Rede.Nome)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Uf)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Cnpj" class="btn btn-danger btn-sm">Alterar</a>
                                <a asp-action="Contatos" asp-route-id="@item.Cnpj" class="btn btn-danger btn-sm">Contatos</a>
                            </td>
                        </tr>
                        linha = linha + 1;
                    }
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <div class="col col-12">
                <input class="btn btn-sm btn-primary" type="button" value="<<" @(Model.PageNumber == 1 ? "disabled" : "") onclick="location.href='@Url.Action("Index", "Estabelecimento", new { pageNumber = 1, filtro = @ViewData["FiltroAtual"] ?? "" })'" />|
                <input class="btn btn-sm btn-primary" type="button" value="<" @(Model.PageNumber == 1 ? "disabled" : "") onclick="location.href='@Url.Action("Index", "Estabelecimento", new { pageNumber = Model.PageNumber - 1, filtro = @ViewData["FiltroAtual"] ?? "" })'" />|
                <input class="btn btn-sm btn-primary" type="button" value=">" @(Model.PageNumber == Model.TotalPages ? "disabled" : "") onclick="location.href='@Url.Action("Index", "Estabelecimento", new { pageNumber = Model.PageNumber + 1, filtro = @ViewData["FiltroAtual"] ?? "" })'" />|
                <input class="btn btn-sm btn-primary" type="button" value=">>" @(Model.PageNumber == Model.TotalPages ? "disabled" : "") onclick="location.href='@Url.Action("Index", "Estabelecimento", new { pageNumber = Model.TotalPages, filtro = @ViewData["FiltroAtual"] ?? "" })'" />|
            </div>
            <div class="col col-12">
                <h6>´Página: @Model.PageNumber de @Model.TotalPages" </h6>
            </div>
        </div>
    </div>
</div>


